@use "../../../scss/abstract/" as *;

.single-sidecontent-bottom {
  cursor: pointer;
  width: 100%;
  padding: 1%;
}
.single-sidecontent-bottom-active {
  cursor: pointer;
  background-color: #FBD0CC;
  width: 100%;
  padding: 1%;
}
