@use "../../../../scss/abstract/" as *;

.header-dashboard {
  padding: 1%;
  width: 100%;
  @include smBreakPoint {
    background-color: rgb(245, 245, 245);
    width: 100%;
  }
  @include xsBreakPoint {
    background-color: rgb(245, 245, 245);
    // width: 555px;
    // overflow: scroll;
    // height: 100vh;
  }
}

.header-response {
  display: flex;
  justify-content: space-between;
  @include smBreakPoint {
    width: 100%;
  }
}

.main-container {
  .main-container-2-response {
    width: 100%;
    @include smBreakPoint {
      width: 100%;
    }
  }
  .main-dash-content {
    @include xsBreakPoint {
      display: flex;
      flex-direction: column;
    }
  }
  .main-contain-responsive {
    display: flex;
    @include smBreakPoint {
      display: contents;
      width: 88%;
    }
    @include mdBreakPoint {
      display: contents;
    }
    @include xsBreakPoint {
      display: contents;
    }
    @include lgBreakPoint {
      display: contents;
    }
    @include xlBreakPoint {
      display: contents;
    }
  }
  .average-container {
    width: 100%;
    background-color: white;
    padding: 2%;
    border-radius: 10px;
    margin: 10px;
    @include xsBreakPoint {
      width: 70%;
      margin-left: 15%;
    }
    .average-inside-container {
      display: flex;
      justify-content: space-around;
      width: 100%;

      .average-content-container {
        width: 100%;
        // @include xsBreakPoint {
        //   font-size: x-small;
        // }
        .average-content {
          margin-bottom: 0px;
          font-size: 20px;
          font-weight: 600;
          color: #333333;
          margin-left: 10%;
        }

        .average-subcontent {
          margin-top: 10px;
          font-weight: 700;
          font-size: 24px;
          margin-left: 10%;
        }
      }
    }
  }
  .data-container-card {
    width: 100%;
    display: flex;
    @include xsBreakPoint {
      display: flex;
      flex-direction: column;
    }
  }

  .average-container1 {
    width: 50%;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    margin: 10px;
    @include smBreakPoint {
      width: 97%;
    }
    @include mdBreakPoint {
      width: 97%;
    }
    @include xsBreakPoint {
      width: 96%;
    }
    @include lgBreakPoint {
      width: 98%;
    }
    @include xlBreakPoint {
      width: 98%;
    }
    .Preparatory {
      margin-top: 0px;
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 2%;
    }
    .average-contain-preparatory {
      border: 1px solid #f5f5f5;
      width: 48%;
      padding: 2%;
      display: flex;
      justify-content: center;
      border-radius: 10px;
    }
    .average-contain-12-para {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 18px;
      font-weight: 400;
      color: #333333;
    }
    .no-student {
      margin-bottom: 0px;
    }
    .average-contain-11th {
      border: 1px solid #f5f5f5;
      width: 48%;
      padding: 2%;
      display: flex;
      justify-content: center;
      border-radius: 10px;
    }
    .standard-para-11th {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 18px;
      font-weight: 400;
      color: #333333;
    }
    .para-78 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 24px;
      font-weight: 700;
    }
  }

  .average-container2 {
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    margin: 10px;
    @include smBreakPoint {
      width: 97%;
    }
    .average-container-2-response {
      display: flex;
      justify-content: space-between;

      @include xsBreakPoint {
        display: flex;
        flex-direction: column;
        width: 100%;
        // margin-left: 23%;
        margin-left: 20%;
      }
    }
    .average-contain-2-Preparatory {
      margin-top: 0px;
      font-size: 20px;
      font-weight: 600;
    }
    .average-main-container-2 {
      border: 1px solid #f5f5f5;
      width: 18%;
      padding: 2%;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      @include smBreakPoint {
        margin-top: 1%;
      }
      @include xsBreakPoint {
        margin-top: 2%;
        width: 60%;
      }
    }
    .average-container-10th {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 18px;
      font-weight: 400;
      color: #333333;
    }
    .average-container-95 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 24px;
      font-weight: 700;
    }
    .average-contain-2-no {
      margin-bottom: 0px;
    }
  }

  .Statistics {
    display: flex;
    justify-content: space-between;
    @include smBreakPoint {
      display: flex;
      flex-direction: column;

      width: 100%;
    }
    @include mdBreakPoint {
      display: contents;
    }
    @include xsBreakPoint {
      display: contents;
    }
    @include lgBreakPoint {
      display: contents;
    }
    .Statistics-container-main1 {
      width: 65%;
      background-color: white;
      border-radius: 10px;
      padding: 1%;
      margin: 10px;
      @include smBreakPoint {
        width: 97%;
      }
      @include mdBreakPoint {
        width: 97%;
      }
      @include xsBreakPoint {
        width: 96%;
      }
      @include lgBreakPoint {
        width: 98%;
      }
    }
    .Statistics-heading {
      font-size: 20px;
      font-weight: 600;
    }
    .Statistics-table {
      width: 100%;
      border-collapse: collapse;
      border: 1.5px solid #f5f5f5;
      height: 3rem;
    }
    .table-body-container-1 {
      font-weight: 400;
      font-size: 18px;
      text-align: center;
    }
    .table-body-container-2 {
      border: 1.5px solid #f5f5f5;
      height: 3rem;
      @include xsBreakPoint {
        font-size: 10px;
      }
    }
    .table-body-container-3 {
      font-weight: 400;
      font-size: 16px;
      text-align: center;
    }
    .table-body-container-4 {
      border: 1.5px solid #f5f5f5;
      height: 3rem;
      text-align: center;
    }
    .table-noofstudent {
      border: 1.5px solid #f5f5f5;
      height: 3rem;
    }
    .table-img {
      margin-top: -3px;
    }
    .calendar-main-container {
      width: 35%;
      background-color: white;
      border-radius: 10px;
      padding: 1%;
      margin: 10px;
      height: 100%;
      @include smBreakPoint {
        width: 97%;
      }
      @include mdBreakPoint {
        width: 97%;
      }
      @include xsBreakPoint {
        width: 96%;
        height: 100vh;
      }
      @include lgBreakPoint {
        width: 98%;
      }
    }
    .calendar-para-head {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 0px;
    }
  }
}

.first_circle {
  width: 60%;
  margin-left: 15%;
  margin-top: 10px;
  .CircularProgressbar .CircularProgressbar-path {
    stroke: #6255a4 !important;
  }

  .CircularProgressbar .CircularProgressbar-text {
    fill: #165811 !important;
  }
}

.second_circle {
  width: 60%;
  margin-left: 15%;
  margin-top: 10px;
  .CircularProgressbar .CircularProgressbar-path {
    stroke: #de8431 !important;
  }

  .CircularProgressbar .CircularProgressbar-text {
    fill: #731b1b !important;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.calendar {
  width: 98% !important;
  border: none !important;
}

.profile_header {
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  margin-top: 0px;
  margin-bottom: 0px;
  @include xsBreakPoint {
    font-size: 10px;
  }
  .notify {
    margin-right: 30px;
    @include xsBreakPoint {
      margin-left: 5%;
    }
  }
}


.teach-main-container{
  .teach-1st-row{
    .assigned-box{
      
    }
  }
}